{% extends 'base.html.twig' %}
{% block title %}Série {{ program.id }}{% endblock %}

{% block body %}

<h1>{{ program.title}}</h1>
<div class="media">
  <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster"
  <div class="media-body">
    <h1 class="mt-0">{{ program.title }} 
      <a href="{{ path("program_show", { id: program.id }) }}">
        {{ program.title }}</h1>
      </a>
    <p>{{ program.summary }}</p>
    <p>Catégorie : {{ program.category.name }}</p>

  </div>
 
</div>
{% for season in seasons %}
<a href="{{ path("program_season_show", { "program":program.id, "season": season.id }) }}">voir la saison
      {{ season.number }}
      </a>
{% endfor %}
<a href="{{ path('program_index') }}">
    Retour à la liste des programmes
</a>
{% endblock %}